*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
width: 50%;
margin:auto;
background-color: rgb(62, 106, 13);
 
background-image: url('https://cdn.shopify.com/s/files/1/0366/1342/3235/products/shrek-maskeraddrakt-1_1000x1000.jpg?v=1665232236');
background-position: 100cm;
background-blend-mode: multiply;


}


fieldset

{
background-color: rgb(175, 231, 6);
border-radius: 10px;
border-color: rgb(26, 151, 74);
}
legend
{
    font-size: 1.5rem;
    font-weight:20px;
    letter-spacing: 4px;
    color: rgb(255, 255, 255);
}

textarea
{
    border-radius: 5px;
    border-width: 1px;
    background-color: rgb(255, 255, 255)
}
input,textarea
{
    border-radius: 5px;
    border-width: 1px;
    background-color: rgb(255, 255, 255)
}
textarea,:focus
{
    background-color: rgb(27, 220, 62);
}
input,:focus
{
    background-color: rgb(27, 220, 62);
}
input[type="file"]{
background-color: inherit;
}
